# AI / NLP (Financial Sentiment) - CPU ONLY VERSION
--extra-index-url https://download.pytorch.org/whl/cpu

torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0
transformers>=4.36.2
sentencepiece>=0.1.99